
*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url('../images/Banner Image.png');
    width: 1320px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px auto;
    margin-top: 50px;
   
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
}
.bannercontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 font-weight: bold;
 color: white;
 /* text-align: center; */
padding-top: 200px;

}
.bannercontent h4{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}

.bannercontent h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;

}

/* banner2 */
.bannercontent2{
  
   width: 800px;
   height:900px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   color: red;
   margin-top: 20px;
 
}
/* .content{
   
   text-align: center;
} */

.bannercontent2 h1{
    font-size: 88px;
   
    font-family: Inter;
font-weight: 700;
line-height: 80px;
    
}
.bannercontent2 p{
    font-size: 24px;
    line-height: 30px;
}
.bannercontent2 h3{
    font-size: 48px;
    line-height: 65px;
}
.banner2pic{
    
width: 70%;
height: 50%;

 
}
/* banner3 */
.banner3{
    display: flex;
  
    height: 600px;
    width: 1320px;
    border-radius: 16px;;
    color: white;
    background-image: url('../images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
    margin: 0 auto;
}
.child1{
    /* padding: 126px 552px 418px 126px; */
    width: 50%;
    width: 643px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 30px;
    text-align: left;

}

.child1 h1{
    font-size: 64px;
   
    font-weight: 900;
    color: white;
  
}
.child1 p{
    /* width: 642px; */
    
    font-weight: 400;
    font-size: 18px;
    color:white;
    font-family: Inter;
}
.child2{
    width: 50%;
display: flex;
justify-content: center;
align-items: center ;
}
.child2 img{
    /* Layer 1 */

width: 349.16px;
height: 464.65px;

}
.p_of_b3{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
font: Inter;
text-align : left;
/* padding: 326px 0 214px 126px; */
margin-left: 70px;

}
.btn_of_b3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
background-color: rgba(0,0,0,0.7);
background-blend-mode: overlay;
} */
div button a{
    text-decoration: none;
    
}
.banner4{
    background-color: rgb(232, 164, 164);
    width: 1320px;
    height: 484px;
    margin: 0 auto;
    border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 120px;
}
.banner4 h3{
    /* line-height: 15px; */
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
content3{
    
    color: black;
}
.btn2{
    background-color: red;
    padding: 4px 4px 4px 4px;
   color: white;
}

/* banner5 */
.banner5{
    display: flex;
    background-color: white;
    width: 1320px;
    height: 463px;
    margin: 0 auto;
}
  .ban5cont1{
    width: 33%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: left;
  } 
.ban5pic{
    width: 33%;
    width: 364px;
    height: 364px;
    border-radius: 4px;
    padding: 22px;
    border: 10px solid red;
    border-radius: 50%;
}
  .ban5cont2{
    width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
/* banner6 */
.banner6{
    text-align: center;
}
.banner7{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
}
.imagecontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:4px;
}
/* banner8 */
  .banner8{
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(0, 23%, 94%);;
  }
  .banner8 img{
  width: 130px;
  height: 137px;
  }
  .banner9{
    width: 1000px;
    height: 609px;
    /* margin: 0 auto; */
    background-color: black;
    color: white;
  }
  .banner9 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner9 nav li{
    list-style: none;
  }
