
*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url('../images/Banner Image.png');
    width: 1320px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px auto;
    margin-top: 50px;
   
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
   
}
.bannercontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 font-weight: bold;
 color: white;
 /* text-align: center; */
padding-top: 200px;
}
/* } */
.bannercontent h4{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}

.bannercontent h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;

} */

/* banner2 */
.bannercontent2{
  
   width: 800px;
   height:900px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
  
   margin-top: 20px;
   margin-left: 400px ;
   margin-right: 400px;
 
}
/* .content{
   
   text-align: center;
} */

.bannercontent2 h1{
    font-size: 88px;
    color: red;
    font-family: Inter;
font-weight: 700;
line-height: 80px;
    
}
.bannercontent2 p{
    font-size: 24px;
    line-height: 30px;
    color: red;

}
.bannercontent2 h3{
    font-size: 48px;
    line-height: 65px;
}
.cont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.bannercontent2 img{
    
width: 800px;
height: 500px;

 
}
/* banner3 */
.banner3{
    display: flex;
  
    height: 600px;
    width: 1320px;
    border-radius: 16px;;
    color: white;
    background-image: url('../images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
    margin: 0 auto;
}
.child1{
    /* padding: 126px 552px 418px 126px; */
    width: 50%;
    width: 643px;
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 150px 50px 50px 70px;
    
    

}

.child1 h1{
    font-size: 64px;
    width: 642px;
    height: 176px;
    font-weight: 900;
    color: white;
    position: relative;
  
}
.child1 p{
    /* width: 642px; */
    
    font-weight: 400;
    font-size: 18px;
    color:white;
    font-family: Inter;
}
.child2{
    width: 50%;
display: flex;
justify-content: center;
align-items: center ;
}
.child2 img{
    /* Layer 1 */

width: 349.16px;
height: 464.65px;

}

.child1 button a{
   
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
/* background-color: rgba(0,0,0,0.7); */
background-blend-mode: overlay;
text-decoration: none;
background-color: rgba(0,0,0,0.9);
background-blend-mode: overlay; 
}
/* } */
/* .child1 button{
    text-decoration: none;
    
} */ */
.banner4{
    background-color: rgb(232, 164, 164);
    width: 1320px;
    height: 484px;
    margin: 0 auto;
    border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 120px;
}
.banner4 h3{
    /* line-height: 15px; */
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
content3{
    
    color: black;
}
.banner4 button{
    background-color: red;
    padding: 4px 4px 4px 4px;
   color: white;
}

/* banner5 */
.banner5{
    display: flex;
    background-color: white;
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin: 140px 140px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
  .ban5cont1{
    width: 33%;
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: left;
   text-align: left;
  } 
.ban5pic{
    width: 33%;
    width: 364px;
    height: 364px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 30px;
    border: 20px solid red;
    border-radius: 50%;
}
  .ban5cont2{
    width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: left;
  }
  .ban5cont2 img{
    width: 140px;
    height: 140px;
  }
/* banner6 */
.banner6{
    text-align: center;
}
.banner7{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
}
.imagecontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:4px;
}
/* banner8 */
  .banner8{
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(0, 23%, 94%);;
  }
  .banner8 img{
  width: 130px;
  height: 137px;
  }
  .banner9{
    width: 1600px;
    height: 609px;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 60px;
    background-position: cover;
  }
  .banner9 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 275px 120px 140px;
  }
  .banner9 nav li{
    list-style: none;
  }
 .icons{
    height: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:  300px 600px 300px 600px; */
    gap: 2px;
    margin-left: 640px;
    margin-right: 650px;
 }
 .banner9 footer{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 100px 275px 120px 140px;
    height: 30px;
 }